body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    position: relative;
    padding: 10px 10px 10px 200px;
    background-color: rgb(228, 228, 228);
    display: flex;
    text-align: center;
    box-shadow: 1px 1px 10px gray;
    overflow: hidden;
}

#navbar ul{ 
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#navbar ul li{
    display: inline-block;
    margin-right: 20px;
}

#navbar a{
    color: black;
    width: 100px;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    opacity: 70%;
}

#navbar a:hover{
    font-style: unset;
    opacity: 100%;
}

#mainMenu-container{
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}

#search-container{
    margin-top: 8px;
    font-size: 18pt;
    float: right;
}

#search-button{
    margin-top: 6px;
    margin-left: 10px;
    border: none;
    float: right;
    background-color:rgb(228, 228, 228);
    opacity: 70%;
}

#search-button:hover{
    opacity: 100%;
}

#title{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 20pt;
}

#pageContainer{
    display: flex;
}

#filtersContainers{
    margin-top: 30px;
    margin-left: 200px;
    padding-right: 20px;
    float: left;
    width: 300px;
    height: 1000px;
    
}

#h1{
    font-size: 11pt;
}

#formContainer{
    display: flex;
    position: relative;
}

#listStyle{
    margin-top: 0px;
    margin-left: -40px;
    list-style: none;
}

#textFilter{
    font-size: 10pt;
    margin-bottom: 10px;
    color: rgb(90, 90, 90);
}

#productsContainers{
    margin-top: 10px;
    margin-right: 200px;
    display: inline-flex;
    text-align: center;
}

#dealsContainer{
    display: flex;
}

#dealBox{
    margin-top: 30px;
    margin-right: 20px;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: whitesmoke;
    overflow: hidden;
    text-align: center;
}

#dealText{
    margin-top: 20px;
    padding: 10px;
}

.greenText{
    color: rgb(0, 170, 0);
}

.fullPrice{
    color: rgb(194, 194, 194);
    text-decoration: line-through;
    white-space: pre-line;
}

.description{
    font-size: 10pt;
    color: gray;
    white-space: pre-line;
}

.seeMoreLink{
    margin-top: 10px;
    float: inline-end;
    font-size: 12pt;
}

.seeMoreLink a:hover{
    color: brown;
}

#dealBox:hover{
    width: 200px;
    height: 340px;
    box-shadow: 1px 1px 5px gray;
    overflow: visible;
}

#footer{
    height: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 50px;
    box-shadow: -1px -1px lightgray;
    background-color: whitesmoke;
    text-align: center;
}